@page
@model RacesModel
@{
    ViewData["Title"] = "Races page";
}

<h2>@ViewData["Title"]</h2>

<div class="card-columns">
    @foreach(var race in Model.Races)
    {
        <div class="card">

            <img class="card-img-top" src="@race.MainImage" width="250" height="250" alt="">
           <div class="card-body">
            <h5 class="card-title">@race.Name</h5>
            <p class="card-text"></p>
            </div>
            <div class="card-footer">
            <small class="text-muted">Rated:
                @for(int i = 0; i < race.AverageRating; i++)
                {
                    <span class="fa fa-star checked"></span>
                }
            </small>
            </div>
        </div>
    }
</div>
